

<img
  class="flex shrink"
  src="https://static.opensea.io/solana/explore-solana.png"
  alt=""
/>
<div class="flex flex-col justify-center items-center">
  <h2 class="text-5xl capitalize pt-10"> <strong> Solana NFTs  </strong></h2>
  <h6 class="pb-16 text-xl capitalize pt-10">Explore, buy and sell popular
    Solana NFTs on OpenSea's Solana beta, and enjoy low gas fees and fast
    transaction speeds.</h6>
</div>
<hr />
<h2 class="flex justify-center items-center text-4xl capitalize pt-10">
  <strong>
    Trending collections in solana..
  </strong>
</h2>
<section class="grid grid-cols-4 my-5 justify-items-center p-4">
  <% collectionsDatabase.forEach( function(product){ %> 
    <a href="/products/:<%-product._id  %> ">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure><img class="w-96" src="<%= product.image %> " alt="Shoes" /></figure>
        <div class="card-body h-96">
          <h2 class="card-title"><%= product.name %> </h2>
          <p class="h-10 text-ellipsis"><%= product.description %> </p>
          <div class="card-actions justify-end">
          </div>
        </div>
      </div>
    </a>
  <% }); %> 

</section>
